<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Mi App{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <header class="site-header">
    <a href="{{ url_for('index') }}" class="logo">
     <img src="{{ url_for('static',filename='logo.png') }}" alt="BioScanIA Logo">
     BioScanIA
   </a>
    <nav class="auth-links">
      {% if current_user.is_authenticated %}
        <span class="username">{{ current_user.username }}</span>
        <span>/</span>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <span>/</span>
        <a href="{{ url_for('auth.signup') }}">Signup</a>
      {% endif %}
    </nav>
  </header>

  <div class="page-content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
